<div class="poster-div">
    <app-navbar class="postion-fixed"></app-navbar>
    <div class="d-flex flex-column justify-content-center align-items-center pt-5 inner-div">
        <h1 class="text-center pt-5">Charity Connect</h1>
        <p class="text-center text-white" style="font-size: 35px; line-height: 30px;">From the Wealthy, To the Needy.</p>    
    </div>
</div>

<div class="container card-section">
    <div class="d-flex justify-content-around px-3 card-div py-5 shadow">
        <div class="card pb-4">
            <div class="d-flex justify-content-center"><img src="../../../assets/images/Card-1.jpg" alt="card-1-img"></div>
            <div class="px-3">
                <h4 class="pt-4">The History Of Donation Told</h4>
                <p class="pt-2">The history of donation includes the first kidney transplant in 1954, anti-rejection drugs in the 1980s, organ matching systems, and recent advancements like face transplants and drone organ deliveries.</p>
            </div>
        </div>
        <div class="card pb-3">
            <div  class="d-flex justify-content-center "><img src="../../../assets/images/Card-2.jpg" alt="card-2-img" width="350px"></div>
            <div class="px-3">
                <h4 class="pt-4">Help The Community</h4>
                <p class="pt-2">Helping the community through volunteering, donations, and local support fosters unity and social responsibility, benefiting everyone involved.</p>
            </div>
        </div>
        <div class="card pb-3">
            <div class="d-flex justify-content-center "><img src="../../../assets/images/Card-3.jpg" alt="card-3-img" width="350px"></div>
            <div class="px-3">
                <h4 class="pt-4">Charity Ever Rule the World?</h4>
                <p class="pt-2">While charity has never politically ruled the world, it has profoundly influenced societies by shaping communities, providing crisis relief, and promoting social welfare.</p>
            </div>
        </div>
    </div>

</div>

<app-footer></app-footer>