h1{
    /* color:#f8b864; */
    color: #fca045;
    font-size: 85px;
    margin-top: 8rem;
    font-weight: 400;
}
.inner-div{
    height: 50%;
}
.poster-div{
    height: 90vh;
    background-image: url('../../../assets/images/poster.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.card{
    width: 28%;
    border: 0;
    background: none;
    overflow: hidden;
    transition: scale 0.2s ease-in;
}

.card:hover{
    scale: 1.02;
}

img{
    width: 100%;
    border-radius: 10px;
}

.card-div{
    background-color: rgba(255, 255, 255, 0.681);
    margin-top: -150px;
    border-radius: 10px;
}
.card-section{
    padding-bottom: 100px;
}